# MODUL 1 PYTHON ~ INTRODUCTION, DATA TYPE, AND OPERATORS

# Pengenalan Bahasa Pemrograman Python

In [ ]:
print("Selamat")
print("Pagi")

print("Selamat Pagi")

# Dasar Pemrograman Python

**1**. **Tanda # ini digunakan untuk komentar satu baris, kode yang ditulis setelah tanda # diabaikan atau tidak dijalankan oleh python interpreter**

**2. Tanda titik koma (;) memungkinkan beberapa pernyataan pada satu baris**

**3**. **Tanda** **tunggal** **(')**, **tanda** **ganda('') menunjukkan** **string**

In [ ]:
print("Hello World") #code untuk menampilkan kata

Hello World

In [ ]:
print("python is easy");x=5;print(x+6+5)

python is easy
16

Variabel adalah lokasi memori yang dicadangkan untuk menyimpan nilai

In [ ]:
cars=50 # Bilangan Bulat
miles=43.6 # Bilangan Desimal
name="carry" # teks

print(cars)
print(miles)
print(name)

50
43.6
carry

# Struktur Data di Python

Tipe Data Primitif

In [ ]:
# Integer
x = 5
print(x);print(type(x))

5
<class 'int'>

In [ ]:
# Float
y = 2,5
print(y);print(type(y))

(2, 5)
<class 'tuple'>

In [ ]:
# Complex
m = 5 + 8j
print(m);print(type(m))

(5+8j)
<class 'complex'>

In [ ]:
# String
k = "Hallo Selamat Pagi"
print(k);print(type(k))

Hallo Selamat Pagi
<class 'str'>

In [ ]:
# Boolean
m = True
n = False
print(m);type(m)
print(n);type(n)

True
False

bool

In [ ]:
M = 5
N = 3
A = M<N
print(A)

False

Tipe Data String

In [ ]:
string = "Data Science !"
print(string)
print(string[0])
print(string[2:5])
print(string[2:])
print(string * 2)
print(string + "Foundation")

Data Science !
D
ta
ta Science !
Data Science !Data Science !
Data Science !Foundation

Tipe Data Nonprimitif

In [ ]:
# Tipe Data List
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist)
print(type(mylist))
print(len(mylist))
print(len(tinylist))

['abcd', 786, 2.23, 'john', 70.2]
<class 'list'>
5
2

In [ ]:
# Tipe Data List bagian 2
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist[0])
print(mylist[1:3])
print(mylist[2:])

abcd
[786, 2.23]
[2.23, 'john', 70.2]

In [ ]:
# Tipe Data List bagian 3
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']
print(tinylist * 2)
print(mylist + tinylist)

[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
mylist = ['jennie', 804, 16.4, 'kai', 'exo']
tinylist = ['bts', 908, 34.5]
print(mylist * 5)
print(mylist + tinylist)

['jennie', 804, 16.4, 'kai', 'exo', 'jennie', 804, 16.4, 'kai', 'exo', 'jennie', 804, 16.4, 'kai', 'exo', 'jennie', 804, 16.4, 'kai', 'exo', 'jennie', 804, 16.4, 'kai', 'exo']
['jennie', 804, 16.4, 'kai', 'exo', 'bts', 908, 34.5]

In [ ]:
# Methods pada List
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist)
mylist.append('wiley')
print(mylist)

['abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 'wiley']

In [ ]:
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist)
mylist.insert(2,'python')
print(mylist)

['abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 'python', 2.23, 'john', 70.2]

In [ ]:
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist)
mylist.remove(786)
print(mylist)

['abcd', 786, 2.23, 'john', 70.2]
['abcd', 2.23, 'john', 70.2]

In [ ]:
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist)
(mylist.pop(3))
print(mylist)

['abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 70.2]

In [ ]:
mylist = ['abcd', 786, 2.23, 'john', 70.2]
tinylist = [123, 'john']
print(len(mylist))
print(mylist)
mylist.extend(tinylist)
print(mylist)

5
['abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
# Tipe Data Tuple
tuple_items = ('cars',786,2.23,'toyota',70.2)
tinytuple = (123, 'camry')

print(tuple_items)
print(tuple_items[0])
print(tuple_items[1:3])
print(tuple_items[2:])

('cars', 786, 2.23, 'toyota', 70.2)
cars
(786, 2.23)
(2.23, 'toyota', 70.2)

In [ ]:
tuple_items = ('cars',786,2.23,'toyota',70.2)
tinytuple = (123, 'camry')
print(tinytuple*2)
print(tuple_items+tinytuple)

(123, 'camry', 123, 'camry')
('cars', 786, 2.23, 'toyota', 70.2, 123, 'camry')

In [ ]:
# Tipe Data Dictionary
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"

tinydict = {'name':'john','code':6734, 'dept':'sales'}

print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [ ]:
dict = {}
dict['SVT'] = "This is SVT"
dict['Dream'] = "This is NCT Dream"

tinydict = {'name':'Nadya', 'age':20, 'Occupation':'Student'}
print(dict['SVT'])
print(dict['Dream'])
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

This is SVT
This is NCT Dream
{'name': 'Nadya', 'age': 20, 'Occupation': 'Student'}
dict_keys(['name', 'age', 'Occupation'])
dict_values(['Nadya', 20, 'Student'])

In [ ]:
mylist = {''}

In [ ]:
# Tipe Data Set
setA = {2,4,5,6,5,6,5,4}
setB = {1,2,4,8,8}

print(setA, type(setA))
print(len(setA))
setA.add(9) ; print(setA)
print(setA.union(setB))
print(setA.intersection(setB))

{2, 4, 5, 6} <class 'set'>
4
{2, 4, 5, 6, 9}
{1, 2, 4, 5, 6, 8, 9}
{2, 4}

In [ ]:
# Contoh Penerapan Konversi Tipe Data Primitif
x = 2.5; print(x, type(x), end=" >>> ")
y = int(x) ; print(y,type(y))

x = 1; print(x, type(x), end=" >>> ")
y = bool(x) ; print(y,type(y))

x = "124"; print(x, type(x), end=" >>> ")
y = int(x) ; print(y,type(y))

x = 2.5; print(x, type(x), end=" >>> ")
y = float(x) ; print(y,type(y))

x = True; print(x, type(x), end=" >>> ")
y = str(x) ; print(y,type(y))

2.5 <class 'float'> >>> 2 <class 'int'>
1 <class 'int'> >>> True <class 'bool'>
124 <class 'str'> >>> 124 <class 'int'>
2.5 <class 'float'> >>> 2.5 <class 'float'>
True <class 'bool'> >>> True <class 'str'>

# Macam-macam Operasi Pada Python

**Operasi Hitung**

In [ ]:
x = 5
y = 2

In [ ]:
print('x + y =', x+y) # Addition
print('x - y =', x-y) # Subtraction
print('x * y =', x*y) # Multiplication
print('x / y =', x/y) # Division
print('x // y =', x//y) # Floor Division
print('x ** y =', x**y) # Exponent

x + y = 7
x - y = 3
x * y = 10
x / y = 2.5
x // y = 2
x ** y = 25

**Operasi Perbandingan**

In [ ]:
x = 5
y = 3

In [ ]:
print('x > y =', x>y) # Greater than
print('x < y =', x<y) # Less than
print('x == y =', x==y) # Equal to
print('x != y =', x!=y) # Not equal to
print('x >= y =', x>=y) # Greater than or equal to
print('x <= y =', x<=y) # Less than or equal to

x > y = True
x < y = False
x == y = False
x != y = True
x >= y = True
x <= y = False

**Operasi Logika**

In [ ]:
x = True
y = False

In [ ]:
print('x and y is', x and y) # AND logic

print('x or y is', x or y) # OR logic

print('not x is', not x) # NOT logic

print('not y is', not y) # NOT logic

x and y is False
x or y is True
not x is False
not y is True

**Operasi Indentitas**

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

In [ ]:
print(x1 is not y1) # Identity is not same?

print(x2 is y2) # Identity is same?

print(x1 is y3) # Identity is same?

False
True
False

**Operasi Keanggotaan**

In [ ]:
x = 'Hello world'
y = {1:'a', 2:'b'}

In [ ]:
print('H' in x) # Is member?

print('hello' not in x) # Is not member?

print(1 in y) # Is member?

print('a' in y) # is member?

True
True
True
False

**Fungsi Masukan Pada Python**

In [ ]:
# Taking input from the user
name = input("Enter your name: ")

# Output
print("Hello", name)

Enter your name: Teguh Aji Pamungkas
Hello Teguh Aji Pamungkas