# MODUL 2 PYTHON ~ CONTROL FLOW, FUNCTION DI PYTHON, STRING MANIPULATION, FILE HANDLING DI PYTHON

# CONTROL FLOW

CONDITIONAL STATEMENTS

In [ ]:
#CONDITIONAL STATEMENTS
# IF-ELSE
uang = int(input("Masukan Uang anda="))
if uang==2300:
  print("Saya akan membeli permen") #disamping sintaks print ada spasi karena ini indentation
else:
  print("Saya tidak akan membeli permen")

In [ ]:
# IF-ELIF-ELSE
print("memulai program")
nama = input("siapa nama kamu?")
if nama=="Intan":
  print("Hai si kecee dan cantik")
elif nama=="Halawa":
  print("Hai wanita pintarr")
elif nama=="Riska":
  print("Pemateri bootcamp selanjutnya")
else:
  print("AUU AHHH GAK KENALL")

print("Ini adalah akhir program")

memulai program
siapa nama kamu?Riska
Pemateri bootcamp selanjutnya
Ini adalah akhir program

ITERATIVE STATEMENTS

In [ ]:
# Loop
# membuat terlebih dahulu variabel yang kita inginkan
# for kondisi:
# aksi

angka2 = [0, 1, 2, 3, 4]
print(angka2)

In [ ]:
angka2 = [2, 4, 6, 8, 10]
for j in angka2:
  print(f"j sekarang -> {j}")
print("akhir dari program")

j sekarang -> 2
j sekarang -> 4
j sekarang -> 6
j sekarang -> 8
j sekarang -> 10
akhir dari program

In [ ]:
angka2_range = range(5)
for i in angka2_range:
  print(f"i sekarang -> {i}")
print("akhir dari program")

i sekarang -> 0
i sekarang -> 1
i sekarang -> 2
i sekarang -> 3
i sekarang -> 4
akhir dari program

In [ ]:
data_str = "Intan Idaman Halawa"
for huruf in data_str:
  print(huruf)
print("akhir dari program")

I
n
t
a
n

I
d
a
m
a
n

H
a
l
a
w
a
akhir dari program

In [ ]:
# While loop

# membuat variabel yang kita inginkan
# while kondisi:
# aksi ini
# aksi itu

# akhir dari program

angka = 4
while angka>5:
  print("kamu")

print("cukuppp")

cukuppp

# FUNCTION DI PYTHON

USER DEFINED FUNCTION

In [ ]:
num1 = 2
num2 = 5
x = num1+num2
print(x)

7

In [ ]:
def my_function(num1,num2):
  output = num1 + num2
  return output

In [ ]:
my_function(num1 = 4, num2 = 4)

8

In [ ]:
def my_function(num1,num2):
  y = 2
  x = 5
  print(f"value of x is {x}")
  print(f"value of y is {y}")
  num3 = num1 + num2 + x
  num4 = num1 + num2 + y
  return num3, num4

In [ ]:
my_function(5, 4)

value of x is 5
value of y is 2

(14, 11)

In [ ]:
print(y) # karena y bukan fungsi yang dibuat

NameError: ignored

BUILT-IN FUNCTION

In [ ]:
mylist = [8,7,6,2,4,9,3]
print("mylist is",mylist)
print("type of mylist is", type(mylist))
print("lenght of mylist is", len(mylist))

mylist is [8, 7, 6, 2, 4, 9, 3]
type of mylist is <class 'list'>
lenght of mylist is 7

In [ ]:
print("sum of all values", sum(mylist))
print("minimum value", min(mylist))
print("maximum value", max(mylist))
print("sorted list", sorted(mylist))

sum of all values 39
minimum value 2
maximum value 9
sorted list [2, 3, 4, 6, 7, 8, 9]

# STRING MANIPULATION

In [ ]:
# python string operations
str1 = 'Hello'
str2 = 'World!'

# using +
print('str1+str2=', str1+str2)

# using *
print('str1*3=', str1*3)

str1+str2= HelloWorld!
str1*3= HelloHelloHello

In [ ]:
str3 = "Hello world from python"

# using "in"
print("world" in str3)

# using "not in"
print("Hello" not in str3)

True
False

STRING MANIPULATION MENGGUNAKAN BUILT-IN METHODE

In [ ]:
# Common string methode
x = "Hello world from PYTHON"
print(x.upper())
print(x.lower())
print(x.split(" "))
print("wold found in x", x.find("world"))
print(x.replace("World", "Earth"))

HELLO WORLD FROM PYTHON
hello world from python
['Hello', 'world', 'from', 'PYTHON']
wold found in x 6
Hello world from PYTHON

# FILE HANDLING DI PYTHON

MENULIS DATA DI FILE BARU

In [ ]:
# open myfile.txt in write mode
# this will create a new file if no such file exist

file_pointer = open("myfile.txt", "w")

# writing the content to the file
file_pointer.write('''Python is easy, powerful and simple. It is the fastest-growing programming language''')

# closing the opened the file
file_pointer.close()

MENAMBAHKAN DATA DI FILE

In [ ]:
# open the myfile.txt in append mode
file_pointer = open("myfile.txt", "a")

# appending the content to the file
file_pointer.write("python has an easy syntax and user-friendly interaction.")

# closing the opened the file
file_pointer.close()

MEMBACA DATA DARI SEBUAH FILE

In [ ]:
# open the myfile.txt in read mode
# it will cause error, if no such file exist
# closing the opened the file
file_pointer = open("myfile.txt", "r")

# reading content the file
data = file_pointer.read()
print(type(data))
print(data)

# the opened the file
file_pointer.close()

<class 'str'>
Python is easy, powerful and simple. It is the fastest-growing programming languagepython has an easy syntax and user-friendly interaction.